{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">There is a problem with getting the data on your address lookup. Try again later.</p>
        <p class="govuk-body">If you completed a section and viewed a confirmation page, we saved your answers.</p>
        <p class="govuk-body">If you did not view a confirmation page, we have not saved your answers.</br>When the service is available, you will have to start the section again.</p>
        <p class="govuk-body">Contact <a href="#to-be-determined">Radon Measurement Services team</a> if you need support.</p>
      </div>
    </div>
  </div>
{% endblock %}
