# ==============================
# ====== Common Variables ======
# ==============================

SESSION_COOKIE_PASSWORD=604c565d2037e89c5fc3ed6bb20343148ccd2e5aa1abb93d

# ======================================
# ====== Common Service Variables ======
# ======================================

# ------ Location services via UKHSA Azure ------

RPS_LOCATION_SERVICES_API_BASE_URL=http://localhost/location-service/v1
RPS_LOCATION_SERVICES_API_TENANT_ID=16ce4b36-25a1-408e-a9d9-73a4e43db709
RPS_LOCATION_SERVICES_API_CLIENT_ID=6a9b722a-1dc7-4c41-bafe-2778073e2c3a
RPS_LOCATION_SERVICES_API_CLIENT_SECRET=location-services-secret
RPS_LOCATION_SERVICES_API_SCOPES=api://abc-123/.default

# ------ Trust Payments Service ------

RPS_TRUST_PAYMENTS_SITE_REFERENCE=test_reference
RPS_TRUST_PAYMENTS_USER_ID=ws@ukradon.test.co.uk
RPS_TRUST_PAYMENTS_USER_PASSWORD=user-password
RPS_TRUST_PAYMENTS_JWT_USER_ID=jwt@ukradon.test.co.uk
RPS_TRUST_PAYMENTS_JWT_SECRET_KEY=trust-payment-jwt-secret
RPS_TRUST_PAYMENTS_HASH_PASSWORD=trust-payment-hash-password

# ====================================
# ====== App Specific Variables ======
# ====================================

# ------ Radon Enquiry ------

RPS_RADON_ENQUIRY_API_BASE_URL=https://localhost/test
RPS_RADON_ENQUIRY_API_TENANT_ID=f8d13c8c-d98f-4f30-8235-363bf817555e
RPS_RADON_ENQUIRY_API_CLIENT_ID=6bec66ac-82e6-4347-9ba6-b676e4687186
RPS_RADON_ENQUIRY_API_CLIENT_SECRET=radon-enquiry-api-secret
RPS_RADON_ENQUIRY_API_SCOPES=api://abc-123/.default

# ------ Radon Test Kit ------

RPS_RADON_TEST_KIT_API_BASE_URL=https://localhost/test
RPS_RADON_TEST_KIT_API_TENANT_ID=30f2697f-88a9-459e-850e-0abcd1492f4b
RPS_RADON_TEST_KIT_API_CLIENT_ID=d06f820b-184c-4e82-aca7-d6eaf656b753
RPS_RADON_TEST_KIT_API_CLIENT_SECRET=radon-test-kit-api-secret
RPS_RADON_TEST_KIT_API_SCOPES=api://abc-123/.default

# ------ Radon Risk Report ------

RPS_RADON_RISK_REPORT_API_BASE_URL=https://localhost/test
RPS_RADON_RISK_REPORT_API_TENANT_ID=b3f6c10e-b53d-466b-8390-469b77e38120
RPS_RADON_RISK_REPORT_API_CLIENT_ID=325908a8-39d3-4388-9c8c-050e5b30dbc3
RPS_RADON_RISK_REPORT_API_CLIENT_SECRET=radon-risk-report-api-secret
RPS_RADON_RISK_REPORT_API_SCOPES=api://abc-123/.default