# ==============================
# ====== Common Variables ======
# ==============================

SESSION_COOKIE_PASSWORD=604c565d2037e89c5fc3ed6bb20343148ccd2e5aa1abb93d
ENABLE_MOCK_API=true
LOG_LEVEL=trace

# ======================================
# ====== Common Service Variables ======
# ======================================


# ------ Location services via UKHSA Azure ------

RPS_LOCATION_SERVICES_API_BASE_URL=http://localhost/location-service/v1
RPS_LOCATION_SERVICES_API_TENANT_ID=16ce4b36-25a1-408e-a9d9-73a4e43db709
RPS_LOCATION_SERVICES_API_CLIENT_ID=6a9b722a-1dc7-4c41-bafe-2778073e2c3a
RPS_LOCATION_SERVICES_API_CLIENT_SECRET=location-services-secret
RPS_LOCATION_SERVICES_API_SCOPES=api://abc-123/.default

# ------ Trust Payments Service ------
 
RPS_ORR_TRUST_PAYMENTS_SITE_REFERENCE=test_abc
RPS_GTK_TRUST_PAYMENTS_SITE_REFERENCE=test_abc

RPS_ORR_TRUST_PAYMENTS_HASH_PASSWORD=hash-pass
RPS_GTK_TRUST_PAYMENTS_HASH_PASSWORD=hash-pass

# ====================================
# ====== App Specific Variables ======
# ====================================

# ------ RPS URLS ------

RPS_AWS_APIGW_BASE_URL=http://localhost

# ------ RPS AWS Authoriser ------

RPS_AWS_AUTHORISER_API_TENANT_ID=f8d13c8c-d98f-4f30-8235-363bf817555e
RPS_AWS_AUTHORISER_API_CLIENT_ID=6bec66ac-82e6-4347-9ba6-b676e4687186
RPS_AWS_AUTHORISER_API_CLIENT_SECRET=api-secret
RPS_AWS_AUTHORISER_API_SCOPES=api://abc-123/.default