{% extends 'layout.html' %}

{% block pageTitle %}
    Report An Outbreak - Accessibility Statement
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
                <h1 class="govuk-heading-l">Report An Outbreak - Accessibility Statement</h1>
                <p class="govuk-body">Accessibility statement for Report an outbreak

                    This accessibility statement applies to the Report an outbreak website <a href="https://forms.ukhsa.gov.uk/ReportAnOutBreak" target="_blank" class="govuk-link">https://forms.ukhsa.gov.uk/ReportAnOutBreak</a> (opens in new tab). 

                    This website is run by UK Health Security Agency (UKHSA). We want as many people as possible to be able to use this website. For example, that means you should be able to: 
                    <ul class="govuk-list govuk-list--bullet">             
                    <li>change colours, contrast levels and fonts using browser or device settings</li>
                    <li>zoom in up to 400% without the text spilling off the screen</li>
                    <li>navigate most of the website using a keyboard or speech recognition software</li>                    
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver) [AC1]</li>
                    </ul>
                    
                    We’ve also made the website text as simple as possible to understand. 
                    
                    AbilityNet (opens in new tab) has advice on making your device easier to use if you have a disability.
                </p>
                <p class="govuk-body"></p>
                    <h3 class="govuk-heading-m">How accessible this website is</h3>

                    We know some parts of this website are not fully accessible: 
                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>you cannot modify the line height or spacing of text </li>
                        <li>you cannot skip to the main content when using a screen reader</li>
                    </ul>
                </p>
                <p class="govuk-body">
                    <h3 class="govuk-heading-m">Feedback and contact information [AC2] [HS3]</h3>

                    If you find any problems not listed on this page or believe we're not meeting accessibility requirements, email <a href="mailto:ukhsa_techbp_product@ukhsa.gov.uk">ukhsa_techbp_product@ukhsa.gov.uk</a>

                    If you have difficulty using the website to report an outbreak, you should phone your <a href="https://www.gov.uk/health-protection-team" target="_blank" class="govuk-link">local UKHSA health protection team</a> (opens in new tab).
                </p>
                <p class="govuk-body">
                    <h3 class="govuk-heading-m">Enforcement procedure</h3>

                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS)</a> (opens in new tab). 
                </p>
                <p class="govuk-body">
                    <h3 class="govuk-heading-m">Technical information about this website’s accessibility</h3>

                    UK Health Security Agency (UKHSA) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. 
                     </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
