{% set cookieBannerHtml %}
  <p>We use some essential cookies to make this service work.</p>

  {% if gtmId1 or gtmId2 %}
    <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
  {% endif %}
{% endset %}

{% set cookieBannerHeader %}
  Cookies on {{ name if name else serviceName }}
{% endset %}

{% set acceptButtonText = "Accept analytics cookies" if gtmId1 or gtmId2 else "Accept additional cookies"  %}

{% set rejectButtonText = "Reject analytics cookies" if gtmId1 or gtmId2 else "Reject additional cookies"  %}


<div id="global-cookie-message">
  <form id="global-cookie-message-form" method="post" action="/help/cookies">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    {{ govukCookieBanner({
      ariaLabel: cookieBannerHeader,
      messages: [
        {
          headingText: cookieBannerHeader,
          html: cookieBannerHtml,
          actions: [
            {
              text: acceptButtonText,
              type: "submit",
              name: "cookies",
              value: "accept"
            },
            {
              text: rejectButtonText,
              type: "submit",
              name: "cookies",
              value: "reject"
            },
            {
              text: "View cookies",
              href: "cookies"
            }
          ]
        }
      ]
    }) }}
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const gtmId1 ="{{ gtmId1 | default('')}}";
      const gtmId2 ="{{ gtmId2 | default('')}}";
      const cookieForm = document.getElementById('global-cookie-message-form');
      cookieForm.addEventListener('submit', function (event) {
        if(event.submitter.value == 'accept') {
          if(gtmId1) {
            // Google Tag Manager
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ gtmId1 }}');
          }

          if(gtmId2) {
            // Google Tag Manager -->
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ gtmId2 }}');
          }
      }
    });
  })
  </script>
</div>
