{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
  
          {% if contactEmail %}
            <p class="govuk-body">Contact <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>.</p>
          {% else %}
            <p class="govuk-body">Contact your closest consulate.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
