{% from "partials/summary-detail.html" import summaryDetail %}
{% from "partials/summary-card.html" import summaryCard %}
{% from "components/checkboxes/macro.njk" import govukCheckboxes %}
{% extends 'layout.html' %}

{% block content %}
  <style>
    .govuk-summary-card__action {
      margin: 0;
      padding-right: 0;
      border-right: none;
    }

    .govuk-summary-card__action:last-child {
      display: none;
    }
  </style>

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          {{ pageTitle }}
        </h1>

        {% set numberOfContacts = "0" %}

        {% for detail in details %}
          {% if detail.card %}
            {{ summaryCard(detail) }}
            {% set numberOfContacts = detail.name.replace("CloseContact", "") %}
          {% else %}
            {{ summaryDetail(detail) }}
          {% endif %}
        {% endfor %}

        {% if numberOfContacts !== "0" %}
          <a href="close-contact-added-{{ numberOfContacts }}" class="govuk-button govuk-button--secondary">
            Add or remove close contacts
          </a>
        {% endif %}

        {% if not result.error %}
          <form method="post" enctype="multipart/form-data" autocomplete="off" novalidate>
            <input type="hidden" name="crumb" value="{{crumb}}"/>
            <h2 class="govuk-heading-m govuk-!-margin-top-4" id="declaration">Declaration</h2>
            <p>By submitting this form you're confirming that, to the best of your knowledge, the answers you have provided are correct.</p>

            <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
              Accept and send
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
