{% from "partials/summary-detail.html" import summaryDetail %}
{% from "summary-list/macro.njk" import govukSummaryList -%}
{% from "button/macro.njk" import govukButton %}
{% from "partials/summary-card.html" import summaryCard %}

{% extends 'layout.html' %}


{% block content %}
  <div class="govuk-main-wrapper">
          <h1 class="govuk-heading-l">{{customText.separatePageTitle or pageTitle }}</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {% for detail in details %}
        {% if details.length === 1 %}
          {{ summaryCard(detail, true) }}
        {% else %}
          {{ summaryCard(detail, false, returnUrl) }}
        {% endif %}
      {% endfor %}
        <form action="?view=summary"  method="post" enctype="multipart/form-data">
          <div class="govuk-button-group">
            <input type="hidden" name="crumb" value="{{crumb}}"/>
            <button name="next" value="continue" class="govuk-button">Continue</button>
            <button name="next" value="increment" class="govuk-button govuk-button--secondary">
              Add another
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

